
<div  class="jumbotron">

    <h1>Witaj moja aplikacjo bla bla</h1>
    <p>startujemy :P</p>
    <%= link_to 'O mnie', home_about_path, class: 'btn btn-default btn-lg' %>
    <%= link_to 'Strona główna', root_path, class: 'btn btn-primary' %>

</div>